<a href="https://colab.research.google.com/github/ildacec/Python_Reto100diasconPython/blob/main/6_Funciones_Integradas_con_Py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Desde Cero 

Pyladies Panam谩 

2022


---

Day 2 - PythonDesdeCero Challenge

---


Refecencia
Link de video: https://www.youtube.com/watch?v=hHhkLEnowLA&list=PLDXvhsYB9YPydrapCVAkLI4TgrO2d7Eti&index=3 


---

FUNCIONES INTEGRADAS CON PYTHON

---

In [34]:
# Funci贸n print()

print("驴Sigue", [0, 1, 1, 2, 3, 5], "la sucesi贸n de Fibonacci?")
print("No lo s茅", "No me importa")

print("F", "i", "b", "o", "n", "a", "c", "c", "i")
print(0, 1, 1, 2, 3, 5)

驴Sigue [0, 1, 1, 2, 3, 5] la sucesi贸n de Fibonacci?
No lo s茅 No me importa
F i b o n a c c i
0 1 1 2 3 5

In [35]:
# Funci贸n print() - Continuaci贸n

print("驴Sigue", [0, 1, 1, 2, 3, 5], "la sucesi贸n de Fibonacci?", end=" R: ")
print("No lo s茅", "No me importa", sep=" y ")

print("F", "i", "b", "o", "n", "a", "c", "c", "i", sep="", end=": ")
print(0, 1, 1, 2, 3, 5, sep=", ", end=", ...")

驴Sigue [0, 1, 1, 2, 3, 5] la sucesi贸n de Fibonacci? R: No lo s茅 y No me importa
Fibonacci: 0, 1, 1, 2, 3, 5, ...

In [2]:
# Funci贸n input()

variable = input("Escriba su nombre: ")
print(variable + ", eres una persona de dudosa inteligencia.")

Escriba su nombre: po
po, eres una persona de dudosa inteligencia.

In [3]:
# Funci贸n: type()

print(type("Palabra"))
print(type(3))
print(type(2.3))
print(type(True))
print(type([]))
print(type(()))
print(type({0}))
print(type({}))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

In [16]:
# Funciones de conversi贸n de datos string a num茅ricos: str int float bool

var_string = "30"

#imprime el tipo de dato
print(var_string, type(var_string))

#Conversi贸n de un string a n煤mero: int
#Uso de funci贸n: int()
var_num = int(var_string)
print(var_num, type(var_num))

#Conversi贸n de un string a n煤mero: float 
#Uso de funci贸n: float() 
var_float = float(var_string)
print(var_float, type(var_float))

30 <class 'str'>
30 <class 'int'>
30.0 <class 'float'>

In [18]:
# Conversi贸n de tipo de datos:  list tuple set dict

#Uso de funci贸n: list()
var_lista = list((1, 2, 3))

#Uso de funci贸n: tuple()
var_tupla = tuple((1, 2, 3))

#Uso de funci贸n: set()
var_conjunto = set((1, 2, 3))

#Uso de funci贸n: dict()
var_diccionario = dict((("Uno", 1), ("Dos", 2), ("Tres", 3)))


print(lista, type(var_lista))
print(tupla, type(var_tupla))
print(conjunto, type(var_conjunto))
print(diccionario, type(var_diccionario))

print(list("Deletrea"))
print(dict(Uno=1, Dos=2, Tres=3))

[1, 2, 3] <class 'list'>
(1, 2, 3) <class 'tuple'>
{1, 2, 3} <class 'set'>
{'Uno': 1, 'Dos': 2, 'Tres': 3} <class 'dict'>
['D', 'e', 'l', 'e', 't', 'r', 'e', 'a']
{'Uno': 1, 'Dos': 2, 'Tres': 3}

In [20]:
# Uso de funciones num茅ricas: abs, pow round

print("El valor absoluto de -5:", abs(-5))
print("Potencia 2^3:", pow(2, 3))

print("Redondeo de 5.25:", round(5.25))
print("Redondeo de 5.25:", round(5.25))

print("Redondeo de 5.25 con 0 cifras decimales:", round(5.25, 0))
print("Redondeo de 5.25 con 1 cifra decimal:", round(5.25, 1))
print("Redondeo de 5.25 con 2 cifras decimales:", round(5.25, 2))

El valor absoluto de -5: 5
Potencia 2^3: 8
Redondeo de 5.25: 5
Redondeo de 5.25: 5
Redondeo de 5.25 con 0 cifras decimales: 5.0
Redondeo de 5.25 con 1 cifra decimal: 5.2
Redondeo de 5.25 con 2 cifras decimales: 5.25

In [22]:
# Uso de funciones num茅ricas:  sum max min
print("Suma lista:", sum(list((1, 2, 3))))
print("Suma tupla:", sum(tuple((1, 2, 3))))
print("Suma conjunto:", sum(set((1, 2, 3))))
print("Suma diccionario:", sum(dict(((1, "Uno"), (2, "Dos"), (3, "Tres")))))

print("M谩ximo:", max(list((1, 2, 3))))
print("M铆nimo:", min(set((1, 2, 3))))

Suma lista: 6
Suma tupla: 6
Suma conjunto: 6
Suma diccionario: 6
M谩ximo: 3
M铆nimo: 1

In [24]:
# Funciones: len sorted

lista = [5, 1, 4, 3, 2]
diccionario = {"Clave_1": "Valor_1", "Clave_2": "Valor_2"}

print("El tama帽o de la lista es:", len(lista))
print("El tama帽o del diccionario es:", len(diccionario))

print("Lista ordenada", sorted(lista))
print("Lista ordenada inversa:", sorted(lista, reverse=True))

El tama帽o de la lista es: 5
El tama帽o del diccionario es: 2
Lista ordenada [1, 2, 3, 4, 5]
Lista ordenada inversa: [5, 4, 3, 2, 1]

In [29]:
# Funciones: range
print(list(range(2, 10)))
print(list(range(2, 10,2)))

[2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8]

In [31]:
# Funciones: enumerate zip

print(list(range(2, 10)))
print(list(range(2, 10,2)))


print(list(enumerate(["A", "B", "C"])))
print(list(enumerate(["A", "B", "C"], start=2)))


print(list(zip([1, 2, 3], ["A", "B", "C", "D"])))

[2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8]
[(0, 'A'), (1, 'B'), (2, 'C')]
[(2, 'A'), (3, 'B'), (4, 'C')]
[(1, 'A'), (2, 'B'), (3, 'C')]